header {
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: blueviolet;
  margin: 0;
}
#description {
  margin-bottom: 24px 0;
}

header p {
  margin-bottom: 36px;
}

a {
  padding: 12px 48px;
  /* background-color: chocolate;
    color: blue; */

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 31, 9, 1) 28%,
    rgba(111, 30, 108, 1) 51%,
    rgba(198, 43, 98, 1) 81%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 1px solid red;
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
margin: 0;
}
a:hover {
  background-color: chartreuse;
  text-decoration: none;
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 32px;
  background-color: coral;
  border-radius: 6px;
}
h2 {
  color: rgb(78, 13, 5);
  font-family: ´oswald´, sans-serif;
}
/* main p {
    margin: 12px;
    color: rgb(71, 29, 22);
} */
.daily-goal {
  margin: 12px;
  color: rgb(71, 29, 22);
}
.highlight-goal {
  background-color: rgb(131, 40, 4);
}
